extends ../index
block title
    <?php
    |   //Template Name: Sobre
    |?>

block content
    .box-img-header.e-wvw.e-hvh.e-hiiden.e-flex.e-rel
        <?php the_post_thumbnail('large', array('class' => 'img-header e-wp e-hp e-img-fit')); ?>
        h1.h1-header.e-abs.t-white PAGINA SOBRE
    